.navigation {
  margin-bottom: 1.5rem;
}

.app-component {
  padding: 0 2% 0 2%;

  .row {
    margin: 0;
  }

  .video {
    height: fit-content;
  }

  .no-padding {
    padding: 0;
  }
  .sections{
    margin-bottom: 5%;
  }
  .p-l-r-15{
    padding-left: 15px;
    padding-right: 15px;
  }
}
